# Lovable Cloud / Supabase Configuration
VITE_SUPABASE_URL=https://c--c3c17d7d-c658-4a6f-beaf-bc059fb3d812-prod.lovable.cloud
VITE_SUPABASE_ANON_KEY=sb_publishable_OTxHpvIng-Vj0aMjqgbZtA_S5vK6xWE
VITE_APP_ENV=production
